<%= show_errors(@classroom) %>

<%= form_for [@student, @classroom] do |f| %>

  <div class="form-group">
    <%= label_tag t_attr(:classroom, :student_id) %>
    <%= text_field_tag :student, @student.name, disabled: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :course %>
      <%= f.collection_select :course_id, @courses, :id, :name, {prompt: t('.select_course_prompt')}, {class: 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :entry_at %>
    <br>
    <%= f.datetime_select :entry_at, {}, class: 'input-medium' %>
  </div>

  <br>

  <%= f.submit nil, class: 'btn btn-default' %>
<% end %>